---
import App from "../layouts/App.astro";
import AppShell from "../components/AppShell.astro";
import AppsRegistry from "../../apps.json";
---

<App title="chiubaca os">
  <main class="w-screen h-screen bg-emerald-50">
    <div id="all-apps" class="flex p-12">
      {
        AppsRegistry.map((app, index) => {
          return <AppShell index={index} {...app} />;
        })
      }
    </div>
  </main>
</App>

<script>
  const allApps = document.getElementById("all-apps").children;

  for (let item of allApps) {
    const appId = (item as any).dataset.appId;

    const appIcon = document.getElementById(appId);

    const appShellContainer = document.getElementById(`${appId}-container`);

    appIcon.onclick = () =>
      appShellContainer.style.display === "block"
        ? (appShellContainer.style.display = "none")
        : (appShellContainer.style.display = "block");
  }
</script>
